[Desktop Entry]
Type=Application
Name=MonFree
# Exec must match the 'command' in the YAML
Exec=monfree
# Icon must match the filename we installed in Step 2
Icon=io.github.sonm.monfree
Categories=Audio;AudioVideo;Sequencer;
Terminal=false
StartupWMClass=MonFree
